[submodule "config/zsh/oh-my-zsh"]
	path = config/zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "config/zsh/themes/clover"]
	path = config/zsh/themes/clover
	url = git@github.com:tzing/clover.zsh-theme.git
[submodule "config/zsh/plugins/fast-syntax-highlighting"]
	path = config/zsh/plugins/fast-syntax-highlighting
	url = git@github.com:zdharma/fast-syntax-highlighting.git
[submodule "config/zsh/plugins/calc"]
	path = config/zsh/plugins/calc
	url = git@github.com:arzzen/calc.plugin.zsh.git
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "config/tmux/tmux-yank"]
	path = config/tmux/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "config/tmux/tmux-sensible"]
	path = config/tmux/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule "config/tmux/tmux-themepack"]
	path = config/tmux/tmux-themepack
	url = git@github.com:jimeh/tmux-themepack.git
[submodule "local/git-ilog"]
	path = local/git-ilog
	url = git@github.com:tzing/git-ilog.git
[submodule "local/diff-so-fancy"]
	path = local/diff-so-fancy
	url = git@github.com:so-fancy/diff-so-fancy.git
[submodule "config/tmux/tmux-logging"]
	path = config/tmux/tmux-logging
	url = git@github.com:tmux-plugins/tmux-logging.git
[submodule "config/tmux/tmux-copycat"]
	path = config/tmux/tmux-copycat
	url = git@github.com:tmux-plugins/tmux-copycat.git
