[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "config/tmux/tmux-yank"]
	path = config/tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "config/tmux/tmux-sensible"]
	path = config/tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "config/zsh/bin"]
	path = config/zsh/bin
	url = https://github.com/zdharma-continuum/zinit.git
	branch = main
