[submodule "vim-plug"]
	path = config/nvim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
	shallow = true
[submodule "tmux-yank"]
	path = config/tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
	shallow = true
[submodule "tmux-sensible"]
	path = config/tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
	shallow = true
[submodule "zinit"]
	path = config/zsh/bin
	url = https://github.com/zdharma-continuum/zinit.git
	;branch = main
	shallow = true
